body{
    background-color: black;
    color: white;
}
#w{
    list-style-type: decimal;
}

#l{
    list-style-type: square;
}

table{
    border: 10px groove hsl(101, 65%, 43%);
    background-color: hsl(19, 65%, 43%);
    font-size: 100px;
    border-spacing: 0;
    width: 1900px;
    text-align: left;
}

thead tr{
    background-color: black;
}

thead tr td{
    padding-left: 100px;
}

tbody tr:nth-child(odd){
    box-shadow: 2px 2px 2px wheat;
}

tbody tr:nth-child(even){
    box-shadow: 2px 2px 2px black;
}
tbody tr td:nth-child(odd){
    border-bottom: 2px solid cyan;
    padding-left: 100px;
}

tbody tr td:nth-child(even){
    border-bottom: 2px solid red;
    padding-left: 100px;
}

tbody tr:hover{
    background-color: blue;
}